@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{

};

/* HANBURGER MENU */

.hamburger{
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative
}

.hamburger-top, 
.hamburger-middle,
.hamburger-bottom{
  position:absolute;
  top: 30px;
  right: 30px;
  width: 24px;
  height: 2px;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle{
  transform: translateY(7px)
}

.hamburger-bottom{
  transform: translateY(14px)
}

.open{
}
.open .hamburger-top{
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle{
  display:none;
}

.open .hamburger-bottom{
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* PROGRESS BAR */

.progress-bar{
  height: 5px;
  background-color: gray;
  margin-top: 20px;
}
.hide{
  display:none;
}
.show{
  display: block;
}