@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
};

/* HANBURGER MENU */

.hamburger{
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative
}

.hamburger-top, 
.hamburger-middle,
.hamburger-bottom {
  position:absolute;
  top: 30px;
  right: 30px;
  width: 24px;
  height: 2px;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle{
  transform: translateY(7px)
}

.hamburger-bottom{
  transform: translateY(14px)
}

.open{
}
.open .hamburger-top{
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle{
  display:none;
}

.open .hamburger-bottom{
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.nav-list{
  font-size: 1.25rem;
  color:#000;
  margin: auto 0;
}

.nav-item:hover{
  color: #3e3e3e;
}

.cta{
  font-size: 1.25rem;
  height: 80%;
  margin: auto 0;
  border: #d6ebaf 3px solid;
}

.cta:hover{
  background-color: rgb(248, 215, 53)
}

/* UPLOAD PAGE */

.tag-input{
  border: 2px solid #4eb147;
  border-radius: 5px;
  width: 50%;
  margin: 1em 0;
  text-align: center;

}

/* PROGRESS BAR */

.progress-bar{
  height: 15px;
  background-color: #4eb147;
  margin-top: 20px;
}
.hide{
  display:none;
  background-color: rgba(255, 255, 255, 0.5);
}
.show{
  display: block;
}

/* GALLERY */

.search-input{
  padding: 0.25em 0;
  border-radius: 5%;
  box-shadow: 3px 3px 10px black;
  text-align: center;
  font-size: 1em;
  color: #000;
}

.search-input:focus-visible{
  border: none;
  box-shadow: none;
}
.image-gallery{
  margin: 6em 0;
}

.grid-item img{
  margin: 20px auto;
  max-height: 24em;
}

/* SPINNER  */

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: steelblue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}